# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Angular specific
.angular/cache
.nx/

# Documentation (generated)
/doc

# Linting (generated)
/lint/dist

# Local Environment
.env

# Existing project specific ignores (kept from original file)
/__build__
/__server_build__
/tsd_typings/
/build/
*.iml
*.ngfactory.ts
*.css.shim.ts
*.scss.shim.ts
webpack.records.json
/npm-debug.log.*
morgan.log
# Yarn no longer used
yarn.lock
*.css
.java-version
/nbproject/
junit.xml
/src/mirador-viewer/config.local.js

*.py
*.csv
